<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timetime">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AppStart"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:label="TimeTime"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme">
        <activity
            android:name=".ui.activitySummary.CreateActivityActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.activitySummary.EditActivityActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.categorysummary.CreateCategoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.categorysummary.EditCategoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.homesummary.LogTimeToActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            />
        <activity
            android:name=".ui.homesummary.LogTimeLogEditActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.homesummary.SubmitMultipleTimeLogs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notifications.RebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>